.review .heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}

.review .heading span {
  background: var(--orange);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.review .swiper-wrapper {
  margin: 20px;
  gap:20px;
  display: flex;
  justify-content: space-between;
}

.review .review-slider {
  padding: 1rem;
}

.review .review-slider .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: 0.2s linear;
}

.review .review-slider .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.review .review-slider .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.review .review-slider .box p {
  padding: 1rem 0;
  line-height: 1.8;
  color: var(--light-color);
  font-size: 1.5rem;
}

.review .review-slider .box h3 {
  padding-bottom: 0.5rem;
  color: var(--black);
  font-size: 2.2rem;
}

.review .review-slider .box .stars i {
  color: var(--orange);
  font-size: 1.7rem;
}
