/* Products.module.css */
.products .heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}

.products .heading span {
  background: var(--orange);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.products .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* allow items to wrap to the next line if they don't fit */
  gap: 1rem;
}

.products .product-slider {
  padding: 1rem;
}

.products .product-slider:first-child {
  margin-bottom: 2rem;
}

.products .product-slider .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: 0.2s linear;
}

.products .product-slider .box:hover {
  outline-offset: 0rem;
  outline: var(--outline-hover);
}

.products .product-slider .box img {
  height: 20rem;
}

.products .product-slider .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.products .product-slider .box .price {
  font-size: 2rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

.products .product-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  padding: 0.5rem 0;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}


/* Your existing styles... */

/* Responsive styles for tablet devices */
@media only screen and (max-width: 768px) {
  .products .heading {
    font-size: 2.5rem;
  }

  .products .product-slider .box img {
    height: 15rem;
  }

  .products .product-slider .box h3 {
    font-size: 2rem;
  }

  .products .product-slider .box .price {
    font-size: 1.5rem;
  }

  .products .product-slider .box .stars i {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.5rem;
  }
}

/* Responsive styles for mobile devices */
@media only screen and (max-width: 480px) {
  .products .heading {
    font-size: 2rem;
  }

  .products .product-slider .box {
    width: 95vw; /* setting the card to take 90% of the container's width */
    /* margin: 0 auto; centering the card */
  }

  .products .product-slider .box img {
    height: 22rem; /* this seems a bit too large for a mobile view; you might want to reduce this */
    width: 90vw; /* setting the image to take 90% of the viewport width */
  }

  .products .product-slider .box h3 {
    font-size: 1.5rem;
  }

  .products .product-slider .box .price {
    font-size: 1.2rem;
  }

  .products .product-slider .box .stars i {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }
}

