.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
  flex-wrap: wrap;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--black);
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.navbar a:hover {
  color: var(--orange);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: 4rem;
  cursor: pointer;
  text-align: center;
}

.icons div {
  border-radius: 0.5rem;
  color: var(--black);
  font-size: 2.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.icons div:hover {
  background: var(--orange);
  color: #fff;
}

.menu {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

@media only screen and (max-width: 480px) {
  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: start;
    z-index: 999;
  }

  .navbar a {
    margin: 1rem;
  }

  .menu {
    display: block;
  }

  .open {
    display: flex;
  }
}
