.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--black);
}

.navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.navbar a:hover {
  color: var(--orange);
}
/* 
.icons {               
  display: flex;
  align-items: center;
          justify-content: space-between;
  color: var(--black);
  font-size: 3rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.icons div:hover {
  width: 60px;
  background: var(--orange);
  color: #161111;
  border-radius: 1rem;
} */

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: 4rem;
  cursor: pointer;
  text-align: center;
}

.icons div {
  border-radius: 0.5rem;
  /* background: #eee; */
  color: var(--black);
  font-size: 2.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.icons div:hover {
  background: var(--orange);
  color: #fff;
}

#menu-btn {
  display: none;
}
